.header-top {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container > p {
  color: #666;
}

.container > ul {
  list-style: none;
  display: flex;
  border-left: 1px solid rgba(0,0,0,.1);
}

.container > ul li {
  margin: 0 1rem;
}

.container > ul li a {
  text-decoration: none;
  color: #666;
}

.container > ul li a:hover {
  color: #26c;
}

.container > ul li a i {
  margin: 0 0.3rem;
}