.subHeader {
  color: #888;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0.7rem auto;
}

.subHeader > i {
  margin-right: 0.5rem;
}

.display {
  height: 30vh;
  background: url("../../Assets/shopImage.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}

.display > div{ 
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  
}

.display > h1 {
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 2
}

.select {
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(0,0,0,.1);
  background: none;
  cursor: pointer;
  margin: 1.2rem 0;
  display: none;
}

.select:focus {
  outline: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 1.5rem 0;
  grid-gap: 1rem;
}

.main > ul {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main > ul > li {
  margin: 0.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
}

.main > ul > li > a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.main > ul > .allProducts {
  border-top: 2px solid #ccc;
  padding-top: 0.5rem;
  
}

/* .main > ul > .allProducts > a {
  font-size: 1rem;
} */

.main > ul > li > a:hover {
  color: #26c;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  min-height: 60vh;
}

.activeLink {
  color: #26c !important;
  font-weight: 700;
  font-size: 0.9rem;
}














@media (max-width: 760px) {
  .products {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 640px) {
  .main {
    grid-template-columns: 1fr;
  }

  .main > ul {
    display: none;
  } 

  .select {
    display: block;
  }
}

@media (max-width: 480px) {
  .products {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  } 
}